<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Modification projet</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Modifier un projet</h4>
      </div>
    </div>

    <!-- The above form looks like this -->
    <form action="/projects/update/{{project.getId}}" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="nom">Nom du projet</label>
          <input class="u-full-width" type="text"  name="name" value="{{project.getName}}">
        </div>
        <div class="six columns">
          <label for="description">Description</label>
          <textarea class="u-full-width" type="text"  name="description" >{{project.getDescription}}</textarea>
        </div>
         <label for="debut">Date de début</label>
          <input class="u-full-width" type="text"  name="start_date" value="{{project.getStartDate|date("d/m/Y")}}">
        </div>
        <div>
          <label for="fin">Date de fin</label>
          <input class="u-full-width" type="text"  name="end_date" value="{{project.getEndDate|date("d/m/Y")}}">
        </div>
      
      </div>
      <div class="row">
        <div class="ten columns">
          <label for="tasks">Tâches</label>
          <select class="u-full-width" id="tasks" name="tasks">
            {% for task in tasks %}
                  <option value="{{ task.getId }}" selected>{{ task.getName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="two columns">
          <label for="tasks">&nbsp;</label>
          <a class="button button-primary" href="/project/{{ project.getId }}/tasks/add">Ajouter une tâche</a>
        </div>
           <div class="row">
        <div class="ten columns">
          <label for="users">Utilisateurs</label>
          <select class="u-full-width" id="users" name="users">
            {% for user in users %}
                  <option value="{{ user.getId }}" selected>{{ user.getFirstName }} {{ user.getLastName }}</option>
                  
            {% endfor %}
          </select>
        </div>
        <div class="two columns">
          <label for="users">&nbsp;</label>
          <a class="button button-primary" href="/users/add">Ajouter un utilisateur</a>
        </div>
      </div>
      <a href="/projects" class="button button-primary">Annuler</a>
      <input class="button-primary" type="submit" value="Modifier">
      <a href="/projects/delete/{{project.getId}}" class="button button-primary">Supprimer</a>
      
    </form>



  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>